@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Fancy text */

  .fancy-text {
    background: #2269a0;
    background: linear-gradient(to right, #276ea3 0%, #0fb3c5 49%, #0cc77d 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn {
    background: linear-gradient(to right, #276ea3 0%, #0fb3c5 49%, #0cc77d 96%);
  }

  .gridbg {
    background-image: repeating-linear-gradient(
        135deg,
        rgba(240, 17, 17, 0.09) 0px,
        hsla(66, 0%, 33%, 0.09) 1px,
        transparent 1px,
        transparent 10px
      ),
      repeating-linear-gradient(
        45deg,
        hsla(66, 0%, 33%, 0.09) 0px,
        hsla(66, 0%, 33%, 0.09) 1px,
        transparent 1px,
        transparent 10px
      ),
      linear-gradient(
        149deg,
        #0c9ec7f1 -20%,
        #000000 23%,
        #020202 63%,
        #2deca1b3 300%
      );
  }
}
